.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #014b9a;
    min-height: 40vh;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    font-family: "Times New Roman", Times, serif;
}
.headerImage {
    margin-right: auto;
    width: 15%;
    height: 15%;
}
.App-link {
    color: #61dafb;
}

.row1 {
    border: 1px solid grey;
    justify-content: center;
    padding: 4px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.MultSemHead {
    border: 1px solid grey;
    padding: 5px;
    width: 1100px;
    max-height: 500px;
    overflow: scroll;
    background-color: rgb(160, 229, 250);
    white-space: nowrap;
    display: flex;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.MultSemHead::-webkit-scrollbar {
    display: none;
}

.MultSemHead2 {
    border: 1px solid grey;
    padding: 5px;
    width: 95%;
    height: 90%;
    overflow: scroll;
    background-color: rgb(160, 229, 250);
    white-space: nowrap;
    display: flex;
    position: relative;
    top: 30px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.MultSemHead2::-webkit-scrollbar {
    display: none;
}

.col1 {
    border: 1px solid grey;
    padding-left: 25px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 350px;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.col1::-webkit-scrollbar {
    display: none;
}

.yearHead {
    border: 1px solid grey;
    padding: 5px;
    width: 1100px;
    background-color: rgb(255, 255, 0);
    border-radius: 25px;
    padding: 20px;
}

.yearSubHead {
    border: 1px solid grey;
    padding: 5px;
    width: 97.5%;
    height: 500px;
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(0, 102, 255);
    white-space: nowrap;
    display: flex;
}
.yearName {
    border: 1px solid grey;
    padding: 5px;
    position: relative;
    left: 10px;
    top: 0px;
    height: 40px;
    font-weight: bold;
}
/*
 Hide scrollbar for Chrome, Safari and Opera
.example::-webkit-scrollbar {
    display: none;
}

 Hide scrollbar for IE, Edge and Firefox 
.example {
    -ms-overflow-style: none;  IE and Edge 
    scrollbar-width: none;  Firefox 
}
*/

.Courses {
    width: 50%;
    justify-content: center;
    background-color: rgb(190, 190, 190);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 20px;
    margin: auto;
    min-height: 137.5px;
    max-height: 275px;
}
.CoursesLeft {
    background-color: rgb(106, 92, 238);
    border: 1px solid grey;
    border-radius: 25px;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
}
.CoursesRight {
    background-color: rgb(106, 92, 238);
    border: 1px solid grey;
    border-radius: 25px;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
}
.CoursesList {
    background-color: rgb(21, 4, 177);
    border: 1px solid grey;
    overflow: scroll;
    max-height: 195px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.CoursesList::-webkit-scrollbar {
    display: none;
}
.semesterAdd {
    width: 58%;
    justify-content: center;
    background-color: rgb(190, 190, 190);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 20px;
    margin: auto;
    min-height: 137.5px;
    max-height: 275px;
    text-shadow: 2px 2px "black";
}
.semesterAddForm {
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(106, 92, 238);
    border: 2px solid rgb(255, 255, 255);
}
.semesterAddListDelete {
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(106, 92, 238);
    border: 2px solid rgb(255, 255, 255);
}
.semesterAddList {
    background-color: rgb(21, 4, 177);
    border: 1px solid grey;
    overflow: scroll;
    max-height: 195px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.semesterAddList::-webkit-scrollbar {
    display: none;
}

.planAdd {
    width: 31%;
    justify-content: center;
    background-color: rgb(190, 190, 190);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 20px;
    margin: auto;
    min-height: 137.5px;
    max-height: 275px;
}
.planAddListDelete {
    background-color: rgba(199, 45, 255, 0);
    border-radius: 25px;
    padding: 20px;
}
.planAddList {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 85px;
}
.planAddList::-webkit-scrollbar {
    display: none;
}

.dropdownVertical {
    overflow: visible;
    height: 32px;
    width: 71px;
    border: 0px solid grey;
    position: relative;
    font-size: 34px;
    display: flex;
}

.dropdownHorizontal {
    overflow: visible;
    height: 32px;
    width: 71px;
    border: 0px solid grey;
    position: relative;
    font-size: 34px;
    white-space: nowrap;
    display: flex;
}

.dropdownDots {
    position: relative;
    padding-left: 17px;
    padding-right: 12px;
}

.dropdownMenuVertical {
    position: relative;
    width: 70px;
    border: 0px solid rgb(112, 51, 51);
    padding-left: 12px;
    padding-right: 12px;
}
.dropdownMenuHorizontal {
    position: relative;
    top: -14px;
    height: 32px;
    border: 0px solid rgb(52, 122, 95);
    padding-left: 0px;
    padding-right: 8px;
    white-space: nowrap;
    display: flex;
}

.Dropdown {
    position: relative;
    border: solid 1px black;
    display: flex;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.modal {
    display: flex;
}

.modalTextCol {
    width: 100px;
}
